---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body{background: #e4e4e4;}
a {text-decoration: none;}
.masthead{border-bottom: none !important;}
.greedy-nav{background: #3462a0 !important;}
.greedy-nav a.site-title {margin-left: 1rem !important;}
.greedy-nav a{color: #ffffff !important;}
.search__toggle(color: #fff !important;background-color: #3462a0 !important;)

.archive{background: rgb(244, 244, 244);padding: 15px !important;}
.archive__item {border-bottom: 1px solid #ddd;}
.archive__subtitle{background: #3462a0;color: #ffffff !important;font-weight: 400;padding-left: 0.5em;}
.archive__item-title{margin-top:0;margin-bottom: 2px !important;font-size: 1em;font-weight: 400;}
.list__item .page__meta, .list__item .comment__date{margin: 0 0 10px !important;}
.archive__item-excerpt{display:none;}

.page .page__inner-wrap{background: rgb(244, 244, 244);padding: 15px;}
@media (min-width: 80em){
html {font-size: 20px !important;}
#main{max-width: 1008px !important;}
.masthead__inner-wrap {max-width: 1008px !important;padding: 1em 1em 0;}
.page{padding-right: 0px !important;}
}
